
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
header,main{
    background-image: url(../IllustrationsLogo/AllPages/arrière_plan.png);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
}
header ul li{
    padding: 20px;
    list-style: none;
}

/*style sur la partie reseau*/
.reseaux-item{
    display: flex;
    flex-direction: column; 
    padding-left: 20px;
}
.reseaux{
    padding-top: 150px;
    position: fixed;
}
/*style sur la partie panther*/
.black-panther .container{
    display: flex;

}
.black-panther .info{
    padding-top: 160px;
    font-size: 12px;
    width: 500px ;
    box-sizing: border-box;
}
.black-panther .info h1{
    font-size: 50px;
    padding: 10px 10px;
}
.black-panther img{
    width: 800px;
    height: 700px;
    padding-left: 50px;
    box-sizing: border-box;
}
